@import url("https://fonts.googleapis.com/css?family=Roboto");

.header {
  display: block;
  padding: 3px 3px 3px 3px;
  color: rgb(131, 14, 167);
  font-size: 50px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Roboto", sans-serif;
}
